.ins-input {
    --ctrl-btn-display: flex;
    display: inline-flex;
    position: relative;
    border: none;
    flex: auto;
}

.ins-input>.ins-content {
    flex: auto;
    overflow: hidden;
    display: inline-flex;
    position: relative;
    background: var(--color-normal-fill-emphasis);
    line-height: inherit;
    border: calc(var(--size-normal-border) * 1px) solid var(--color-normal-border);
    border-radius: calc(var(--size-normal-radius) * 1px);
    height: 24px;
}

.ins-input>.ins-content>input {
    display: block;
    color: var(--color-normal-contrast);
    outline: none;
    border: none;
    background: none;
    font-size: inherit;
    line-height: inherit;
    margin: calc(var(--size-normal-border) * -1px) 0;
    width: 100%;
    padding: 0 0 0 0.6em;
    box-sizing: border-box;
}

.ins-input>.ins-content>input::-webkit-inner-spin-button {
    display: none;
}

.ins-input:hover>.ins-content {
    border-color: var(--color-hover-border);
}

.ins-input:hover>.ins-content>input {
    width: calc(100% - 10px);
}

.ins-input>.ins-content:hover .control-btns {
    right: 0;
}

.ins-input .control-btns {
    position: absolute;
    top: 0;
    right: -9px;
    height: 100%;
    display: var(--ctrl-btn-display);
    flex-direction: column;
    width: 9px;
    background: var(--color-active-fill);
    line-height: 0;
    transition: right 0.1s linear;
}

.ins-input .control-btns>div {
    flex: 1;
    display: flex;
    justify-ins-content: center;
    align-items: center;
    cursor: pointer;
    border-left: 1px solid var(--color-normal-border-weaker);
}

.ins-input .control-btns svg {
    width: 0.5em;
    fill: var(--color-normal-contrast);
    transition: all 0.2s;
}

.ins-input .up {
    user-select: none;
}

.ins-input .up:hover svg {
    fill: var(--color-hover-contrast);
}

.ins-input .down {
    user-select: none;
}

.ins-input .down:hover svg {
    fill: var(--color-active-contrast);
}

.ins-input .up[pressed] svg,
.ins-input .down[pressed] svg {
    fill: var(--color-focus-fill);
}
