.wrapper {
  flex: auto;
  overflow: hidden;
  display: inline-flex;
  position: relative;
  align-items: center;
  background: var(--color-normal-fill-emphasis);
  line-height: inherit;
  border: calc(var(--size-normal-border) * 1px) solid var(--color-normal-border);
  border-radius: calc(var(--size-normal-radius) * 1px);
  height: 24px;
}

.wrapper:hover {
  border-color: var(--color-hover-border);
}

.wrapper:hover .box {
  width: calc(100% - 10px);
}

.wrapper:hover .control {
  right: 0;
}

.wrapper:focus {
  border-color: var(--color-focus-border);
  outline: none;
}

.wrapper[state='error-range'] {
  border-color: var(--color-danger-fill);
}

.control {
  position: absolute;
  right: -9px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 9px;
  background: var(--color-active-fill);
  transition: right 0.1s linear;
}

.control svg {
  width: 0.5em;
  fill: var(--color-normal-contrast);
  transition: all 0.2s;
}

.input {
  display: block;
  color: var(--color-normal-contrast);
  outline: none;
  border: none;
  background: none;
  font-size: inherit;
  line-height: inherit;
  margin: calc(var(--size-normal-border) * -1px) 0;
  width: 100%;
  padding: 0 0 0 0.6em;
  box-sizing: border-box;
}

.input, .input:focus {
  color: #fd942b;
}

.up,
.down {
  user-select: none;
}

.up:hover svg {
  fill: var(--color-hover-contrast);
}

.down:hover svg {
  fill: var(--color-active-contrast);
}

.up[pressed] svg,
.down[pressed] svg {
  fill: var(--color-focus-fill);
}
