
@import '~react-reflex/styles.css';
@import '~antd/dist/antd.css';
/* @import 'fontello/fontello.css'; */
@import 'iconfont/icon-font.css';
@import 'iconfont/icon.css';
@import 'var.css';


body {
  margin: 0px;
  background-color: #454545;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

#gray {
  background: #454545;
  border: none;
}

#gray:active {
  background: orange;
}

.ant-tree-list {
  background: #454545;
}

.ant-tree-switcher {
  align-self: center;
}

.ant-tree-title {
  color: #e1e1e1;
}

.ant-tree-switcher {
  color: #fff;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: #1761bb;
}

.ant-tree .ant-tree-node-content-wrapper:hover {
  background: #a6a6a6;
}

.ant-tabs-nav::before {
  display: none;
}

.ant-form-item {
  margin-bottom: 0px;
}

.inner {
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  background-color: #454545;
  border-top: 1px solid #606060;
  border-left: 1px solid #606060;
  border-right: 1px solid #606060;
  border-top-right-radius: 3px;
  user-select: none;
}

.title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  min-width: 76px;
  height: 21px;
  margin: 0 13px 0 7px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
}

#icon {
  display: inline;
  margin-right: 3px;
  user-select: none;
}

#name {
  height: 21px;
  font-size: 12px;
  color: #aaa;
}

.content {
  height: calc(100% - 22px);
  background-color: var(--color-normal-fill-emphasis);
  border: 1px solid #606060;
}

.pane {
  background-color: #333;
  border-radius: 3px;
}
